
table{
    table-layout: fixed;
    width: 85%;
    border-collapse: collapse;
    border-top: 3px solid #C88EA7;
    border-bottom: 3px solid #C88EA7;  
    text-align: left;
    margin-left: 10%;
    margin-right: 30%;
  }
  
  thead th:nth-child(1){
    width: 30%;
  }
  
  thead th:nth-child(2) {
    width: 15%;
  }
  
  thead th:nth-child(3) {
    width: 10%;
  }
  
  thead th:nth-child(4) {
    width: 5%;
  }
  thead th:nth-child(5) {
    width: 5%;
  }
  thead th:nth-child(6) {
    width: 5%;
  }
  thead th:nth-child(7) {
    width: 5%;
  }
  th, 
  td {
    padding: 3px 2px;
    justify-content: left;
    border-bottom: 1px solid #C88EA7;
  }
  
  th{
    border-bottom: 3px solid #C88EA7;
  }
  