img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 25px;
}

 .favorite-button {
    background-color: rgb(96, 169, 234);
    box-shadow: none;
    z-index: 0;
    color: black;
    border: none;
}